body {
	padding-top: 55px;
}

.navbar-brand {
	padding-top: 0px;
}

.panel-default {
	margin-left: 1%;
	margin-right: 1%;
}

.form-group {
	margin-bottom: 1%;
}

.botao {
	margin-right: 2%;
}

.alert {
	margin-left: 10px;
	margin-right: 10px;
}

.aw-link-panel {
	float: right;
	padding: 0px;
}

.aw-titulo-panel {
	float: left;
	padding-top: 2px;
}

.aw-titulo-navbar {
	font-size: 25px;
	color: #F0F8FF;
	display: inline;
}

.div-titulo {
	padding-top: 10px;
	width: 350px;
}

.pagination-centered {
	text-align: center;
	padding-top: 0px;
}

.pagination {
	padding-top: 8%;
	margin-top: -10%;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.pointer-disabled {
	pointer-events: none;
}

.panel-form {
	padding-bottom: 0%;
	padding-top: -20%;
}

.panel-pagination {
	padding-top: 1%;
	margin-bottom: -3%;
}

.panel-body-form {
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: -1.5%;
}

#box {
	width: 25%;
	height: 100%;
	border-width: 1px;
	border-width: small;
	border-style: solid;
	border-color: white;
}

#div-name-row {
	width: 113%;
	height: 25%;
	border-width: 1px;
	border-width: small;
	border-style: solid;
	border-color: black;
	background-color: black;
}

#div-p {
	margin-left: 5%;
	margin-right: 5%;
	width: 100%;
}

#div-row {
	width: 92%;
	height: 150px;
}