<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultaq.net/nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Cadastro de título</title>
</head>
<section layout:fragment="conteudo">
<div class="row">
	<div class="panel-body">
		<div class="col-md-6">
			<form class="form-horizontal" method="POST" th:action="@{/moedas}" th:object="${moeda}">
				<div layout:include="MensagemGeral"></div>
				<div layout:include="MensagemErro"></div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="clearfix">
							<h1 class="panel-title aw-titulo-panel ">Cadastro Moedas</h1>
							<a class="btn btn-link aw-link-panel" th:href="@{/moedas}">Pesquisa Moedas</a>
						</div>
					</div>
		
					<div class="panel-body">
						<input type="hidden" th:field="*{codigo}" />
						<div class="form-group" th:classappend="${#fields.hasErrors('dataDeposito')} ? 'has-error'">
							<div class="col-sm-12">
								<input type="text" class="form-control text-center" id="dataDeposito" placeholder="Data do Depósito" th:field="*{dataDeposito}"
								data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR" data-date-autoclose="true" data-date-today-highlight="true"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<input type="number" class="form-control text-center" id="umReal" placeholder="Quantidade de Moedas de R$ 1,00" th:field="*{umReal}"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<input type="number" class="form-control text-center" id="cinquentaCentavos" placeholder="Quantidade de Moedas de R$ 0,50" th:field="*{cinquentaCentavos}"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<input type="number" class="form-control text-center" id="vinteCincoCentavos" placeholder="Quantidade de Moedas de R$ 0,25" th:field="*{vinteCincoCentavos}"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<input type="number" class="form-control text-center" id="dezCentavos" placeholder="Quantidade de Moedas de R$ 0,10" th:field="*{dezCentavos}"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<input type="number" class="form-control text-center" id="cincoCentavos" placeholder="Quantidade de Moedas de R$ 0,05" th:field="*{cincoCentavos}"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-6">
								<button type="submit" class="btn btn-primary">Salvar</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="clearfix">
						<h1 class="panel-title aw-titulo-panel ">Total Mensal</h1>
					</div>
				</div>
				<table data-toggle="table" class="table table-bordered table-striped table-condensed">
					<thead>
						<tr>
							<th class="text-center col-sm-6">Data Deposito</th>
							<th class="text-center col-sm-6">Valor</th>
						</tr>
					</thead>
					<tbody>
					<tr th:each=" valorMoedas : ${listaValorMesAno}">
						<td class="text-center" th:text="${{valorMoedas.dataDepositoMesAno}}"></td>
						<td class="text-center" th:text="|R$ ${valorMoedas.valorDepositado}|"></td>
					</tr>
					<tr th:if="${moedas.getTotalPages() > 0}">
						<td class="text-center">Total</td>
						<td class="text-center" th:text="|R$ ${totalValorMesAno}|"></td>
					</tr>
					<tr>
						<td class="text-center" colspan="6" th:if="${pager.getTotalPages() == 0}">Nenhum Depósito foi encontrado</td>
					</tr>
				</tbody>
				</table>
			</div>
			<div class="panel panel-pagination">
		<div class="panel-heading">
			<div th:if="${pager.getTotalPages() > 0}" class="row">
				<div th:if="${pager.getTotalPages() != 1}" class="form-group col-md-12 pagination-centered">
					<ul class="pagination">
						<li th:class="${pager.getNumber() == 0} ? disabled"><a class="pageLink" th:href="@{/moedas/cadastro/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a></li>
						<li th:class="${pager.getNumber() == 0} ? disabled"><a class="pageLink" th:href="@{/moedas/cadastro/(pageSize=${selectedPageSize}, page=${pager.getNumber()})}">&larr;</a></li>
						<li th:class="${pager.getNumber() == (page - 1)} ? 'active pointer-disabled'"
							th:each="page : ${#numbers.sequence(pager.getStartPage(), pager.getEndPage())}"><a class="pageLink" th:href="@{/moedas/cadastro/(pageSize=${selectedPageSize}, page=${page})}" th:text="${page}"></a></li>
						<li th:class="${pager.getNumber() + 1 == pager.getTotalPages()} ? disabled"><a class="pageLink" th:href="@{/moedas/cadastro/(pageSize=${selectedPageSize}, page=${pager.getNumber() + 2})}">&rarr;</a></li>
						<li th:class="${pager.getNumber() + 1 == pager.getTotalPages()} ? disabled"><a class="pageLink" th:href="@{/moedas/cadastro/(pageSize=${selectedPageSize},page=${pager.getTotalPages()})}">&raquo;</a></li>
					</ul>
				</div>
			</div>
		</div> 
	</div>
		</div>
	</div>
</div>
</section>
</html>