<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<div th:fragment="listaCalendario">
		<div class="panel-body" style="height: 100%">
			<table class="table table-hover table-bordered table-striped table-condensed" id="tabelaDetalhe" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th class="text-center ">Data</th>
						<th class="text-center col-md-2">Descrição</th>
						<th class="text-center col-md-2">Valor R$</th>
					</tr>
				</thead>
					<tbody>
						<tr th:each="calendario : ${listaCalendario}">
							<td class="text-center" th:text="${{calendario.data}}"></td>
							<td class="text-center" th:text="${calendario.descricao}"></td>
							<td class="text-center" th:text="${{calendario.valor}}"></td>
							<td class="text-center">
								<a class="btn btn-link btn-xs" data-toggle="modal" th:onclick="|retrieveGuests('${calendario.codigo}')|" data-target="#cadastroCalendario" title="Editar" rel="tooltip" data-placement="top">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
								<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModalCalendario" th:attr="data-codigo=${calendario.codigo}, data-descricao=${calendario.descricao}" title="Excluir" rel="tooltip" data-placement="top">
									<span class="glyphicon glyphicon-remove"></span>
								</a>
							</td>
						</tr>
				</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
			</div>
	</div>
</html>