<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultaq.net/nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<title>Financeiro - Moedas</title>
</head>
<section layout:fragment="conteudo" >
	<div class="panel panel-default">
	<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title aw-titulo-panel ">Pesquisa Moedas</h1>
				<a class="btn btn-link aw-link-panel" th:href="@{/moedas/cadastro}">Cadastro Moedas</a>
			</div>
		</div>
		<div class="panel-body" style="height: 40%">
			<table class="table table-bordered table-striped table-condensed">
				<thead>
					<tr>
						<th class="text-center ">Data Deposito</th>
						<th class="text-center col-md-2">R$ 1,00</th>
						<th class="text-center col-md-2">R$ 0,50</th>
						<th class="text-center col-md-2">R$ 0,25</th>
						<th class="text-center col-md-2">R$ 0,10</th>
						<th class="text-center col-md-2">R$ 0,05</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each=" moeda : ${moedas}">
						<td class="text-center" th:text="${{moeda.dataDeposito}}"></td>
						<td class="text-center" th:text="${moeda.umReal}"></td>
						<td class="text-center" th:text="${moeda.cinquentaCentavos}"></td>
						<td class="text-center" th:text="${moeda.vinteCincoCentavos}"></td>
						<td class="text-center" th:text="${moeda.dezCentavos}"></td>
						<td class="text-center" th:text="${moeda.cincoCentavos}"></td>
						<td class="text-center">
							<a class="btn btn-link btn-xs" th:href="@{/moedas/cadastro/{codigo}(codigo=${moeda.codigo})}" title="Editar" rel="tooltip" data-placement="top">
								<span class="glyphicon glyphicon-pencil"></span>
							</a> 
							<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal" th:attr="data-codigo=${moeda.codigo}, data-datadeposito=${moeda.dataDeposito}" title="Excluir" rel="tooltip" data-placement="top">
								<span class="glyphicon glyphicon-remove"></span>
							</a>
						</td>
					</tr>
					<tr>
						<td class="text-center" colspan="6" th:if="${moedas.getTotalPages() == 0}">Nenhum Depósito foi encontrado</td>
					</tr>
					<tr th:if="${moedas.getTotalPages() > 0}">
						<td class="text-center">Total</td>
						<td class="text-center" th:text="|R$ ${somaUm}|"></td>
						<td class="text-center" th:text="|R$ ${somaCinquenta}|"></td>
						<td class="text-center" th:text="|R$ ${somaVinteCinco}|"></td>
						<td class="text-center" th:text="|R$ ${somaDez}|"></td>
						<td class="text-center" th:text="|R$ ${somaCinco}|"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="panel panel-pagination">
		<div class="panel-heading">
			<div th:if="${moedas.getTotalPages() > 0}" class="row">
				<div th:if="${moedas.getTotalPages() != 1}" class="form-group col-md-12 pagination-centered">
					<ul class="pagination">
						<li th:class="${moedas.getNumber() == 0} ? disabled"><a class="pageLink" th:href="@{/moedas/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a></li>
						<li th:class="${moedas.getNumber() == 0} ? disabled"><a class="pageLink" th:href="@{/moedas/(pageSize=${selectedPageSize}, page=${moedas.getNumber()})}">&larr;</a></li>
						<li th:class="${moedas.getNumber() == (page - 1)} ? 'active pointer-disabled'"
							th:each="page : ${#numbers.sequence(pager.getStartPage(), pager.getEndPage())}"><a class="pageLink" th:href="@{/moedas/(pageSize=${selectedPageSize}, page=${page})}" th:text="${page}"></a></li>
						<li th:class="${moedas.getNumber() + 1 == moedas.getTotalPages()} ? disabled"><a class="pageLink" th:href="@{/moedas/(pageSize=${selectedPageSize}, page=${moedas.getNumber() + 2})}">&rarr;</a></li>
						<li th:class="${moedas.getNumber() + 1 == moedas.getTotalPages()} ? disabled"><a class="pageLink" th:href="@{/moedas/(pageSize=${selectedPageSize},page=${moedas.getTotalPages()})}">&raquo;</a></li>
					</ul>
				</div>
			</div>
		</div> 
		<div layout:include="DialogoConfirmacaoExclusao"></div>
	</div>	
</section>
</html>